section {
  margin-top: 5rem;
}

img {
  width: 320px;
  height: 192px;
}

.country__links {
  color: var(--dark-mode-text);
}

.light {
  color: var(--light-mode-text);
}

.country__card {
  background: var(--dark-mode-elements);
  border-radius: 4px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.08), -3px -3px 3px rgba(0, 0, 0, 0.08);
  height: 100%;
}

.light .country__card {
  background: var(--light-mode-elements);
}

.country__card img {
  width: 100%;
  margin: 0;
  border-radius: 4px 4px 0 0;
}

.country__details {
  padding: 2rem;
}

.country__details button {
  padding: 10px 20px;
  color: var(--dark-mode-text);
  background-color: var(--dark-mode-elements);
  font-size: 16px;
  font-weight: 600;
  font-style: italic;
  border: none;
  outline: none;
  font-family: var(--nunito-sans);
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.08), -3px -3px 3px rgba(0, 0, 0, 0.08);
}

.dark .country__details button {
  color: var(--light-mode-text);
  background-color: var(--light-mode-elements);
}
.country__details h3 {
  font-weight: 800;
}

.light .country__details h3 {
  color: var(--light-mode-text);
}

.country__details p {
  font-weight: 600;
  color: var(--dark-mode-text);
}

.light .country__details p {
  color: var(--light-mode-text);
}

.country__span {
  font-weight: 300;
}
