.filter__actions {
  padding-top: 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
  justify-content: space-between;
  row-gap: 2rem;
}

.search {
  background: var(--dark-mode-elements);
  color: var(--dark-mode-text);
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  font-family: var(--nunito-sans);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.08), -3px -3px 3px rgba(0, 0, 0, 0.08);
}

.light .search {
  background: var(--light-mode-elements);
  color: var(--light-mode-text);
}

@media (max-width: 494px) {
  .filter__actions {
    grid-template-columns: 1fr;
  }
}

input[type="text"] {
  border-radius: 0 4px 4px 0;
  font-family: var(--nunito-sans);
  font-size: 14px;
  background: var(--dark-mode-elements);
  color: var(--dark-mode-text);
  border: none;
  outline: none;
  padding: 15px 1.5rem;
  max-width: 400px;
}

.light input[type="text"] {
  background: var(--light-mode-elements);
  color: var(--light-mode-text);
}

input::placeholder {
  color: var(--dark-mode-text);
}

.light input::placeholder {
  color: var(--light-mode-text);
}

.select__box {
  background: var(--dark-mode-elements);
  border-radius: 4px;
  padding: 0 10px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.08), -3px -3px 3px rgba(0, 0, 0, 0.08);
  max-width: 180px;
}

.light .select__box {
  background: var(--light-mode-elements);
}

.select {
  background: var(--dark-mode-elements);
  border: none;
  outline: none;
  font-family: var(--nunito-sans);
  color: var(--dark-mode-text);
  padding: 15px 0;
  padding-right: 2.5rem;
}

.light .select {
  background: var(--light-mode-elements);
  color: var(--light-mode-text);
}
