header {
  background: var(--dark-mode-elements);
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

.light header {
  background: var(--light-mode-elements);
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  padding: 20px 0;
}

.navbar h1 {
  margin: 0;
}

@media (max-width: 388px) {
  .navbar {
    flex-direction: column;
    gap: 20px;
  }
}

.navbar button {
  font-family: var(--nunito-sans);
  background: transparent;
  border: none;
  outline: none;
  color: var(--dark-mode-text);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
  font-weight: 300;
  cursor: pointer;
}

.light button {
  color: var(--light-mode-text);
}
