.dark {
  background: var(--dark-mode-background);
  color: var(--dark-mode-text);
  transition: var(--transition);
}

.light {
  background: var(--light-mode-background);
  color: var(--light-mode-text);
  transition: var(--transition);
}
