*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --nunito-sans: "Nunito Sans", sans-serif;
  --dark-mode-background: hsl(207, 26%, 17%);
  --dark-mode-elements: hsl(209, 23%, 22%);
  --dark-mode-text: hsl(0, 0%, 100%);
  --light-mode-input: hsl(0, 0%, 52%);
  --light-mode-text: hsl(200, 15%, 8%);
  --light-mode-background: hsl(0, 0%, 98%);
  --light-mode-elements: hsl(0, 0%, 100%);
  --transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-size: 1rem;
  font-family: var(--nunito-sans);
  /* background-color: var(--dark-mode-background); */
  color: var(--dark-mode-text);
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}
